<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd"
		 bootstrap="tests/bootstrap.php"
		 cacheDirectory="temp/.phpunit.cache"
		 executionOrder="defects"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 beStrictAboutTestsThatDoNotTestAnything="true"
		 colors="true"
		 processIsolation="false"
		 stopOnFailure="true"
		 stopOnError="true"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./tests</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</source>

	<coverage>
		<report>
			<text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
		</report>
	</coverage>
</phpunit>
